body{
    background-color: #010631;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.boss{
    width: 700px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}